footer {
  background-color: #28282c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
footer .contact {
  color: white;
  font-size: 17px;
}
footer h1 {
  color: #2dc3bb;
}
/* Mobile */

@media (max-width: 767px) {
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
}

/* Medium Screens */

@media (min-width: 992px) {
}

/* Large Screens */

@media (min-width: 1200px) {
}

/* Custom */

@media (max-width: 1199px) {
}
