.landing {
  height: calc(100vh - 118px);
  background-image: url("../../assets/images/background/landing.png");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

.landing .content {
  line-height: 1;
  padding-bottom: 200px;
  color: #2dc3bb;
}
.landing .content p {
  font-size: 25px;
}
.landing .content h1 {
  letter-spacing: -5px;
  font-family: "cera round";
  font-size: 150px;
  font-weight: bold;
}
.landing .phone-imgs {
  align-self: flex-end;
}
#phone1,
#phone2 {
  width: 220px;
}
#phone1 {
  animation: phone-animation1 2s ease-in-out 2s infinite alternate-reverse;
}
#phone2 {
  animation: phone-animation2 2s ease-in-out 2s infinite alternate-reverse;
}
@keyframes phone-animation1 {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes phone-animation2 {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}
@media (max-width: 767px) {
  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing .content {
    line-height: 1;
    padding-bottom: 0;
    color: #2dc3bb;
    text-align: center;
  }
  .landing .content p {
    font-size: 20px;
  }
  .landing .content h1 {
    letter-spacing: -5px;
    font-family: "cera round";
    font-size: 100px;
    font-weight: bold;
  }
  .landing .phone-imgs {
    display: none;
  }
}
@media (max-width: 1280px) {
  .landing .phone-imgs {
    display: none;
  }
  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing .content {
    line-height: 1;
    padding-bottom: 0;
    color: #2dc3bb;
    text-align: center;
  }
}
