.sign-in {
  height: calc(100vh - 118px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sign-in .sign-up-img {
  color: white;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background-color: #2dc3bb;
  height: 100%;
  max-width: 100%;
}
.sign-in .sign-up-img h1 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
.sign-in .sign-up-img a {
  width: fit-content;
  display: block;
  font-family: "cera round";
  color: white;
  border: 1px solid white;
  background-color: #2dc3bb;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}
.sign-in .sign-up-img a:hover {
  color: #2dc3bb;
  background-color: white;
}
.signin-form {
  flex: 1;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.signin-form h1 {
  font-size: 50px;
  font-weight: normal;
  text-transform: uppercase;
}
.signin-form input {
  width: 500px;
  font-family: "cera round";
  font-size: 15px;
  padding: 10px;
  background-color: aliceblue;
  border: 1px solid #2dc3bb;
}
.signin-form button {
  font-family: "cera round";
  color: #2dc3bb;
  border: 1px solid #2dc3bb;
  background-color: white;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}
.signin-form button:hover {
  color: white;
  background-color: #2dc3bb;
}
.error {
  color: red;
}
@media (max-width: 767px) {
  .sign-in {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .sign-in form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    flex-grow: 1;
  }
  .sign-in form h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
  }
  .sign-in form input {
    width: 300px;
  }
  .sign-in .sign-up-img {
    background-color: #2dc3bb;
    height: 200px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1160px) {
  .sign-in {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .sign-in .sign-up-img {
    background-color: #2dc3bb;
    height: 30%;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .sign-in .sign-up-img h1 {
    margin: 0;
  }
}
